.logo-with-text {
  display: flex;
  flex-direction: column;
  padding: 44px;
  gap: 24px;
  border-bottom: px solid var(--color-dark-4);
}

.logo-with-text:nth-child(1) {
  background-color: var(--color-dark-4);
}

.logo-with-text-heading {
  color: var(--color-white);
}

.logo-with-text_image {
  width: 40px;
}

@media (min-width: 576px) {
  .logo-with-text {
    border-radius: 16px;
    gap: 34px;
    background-color: var(--color-dark-4);
    padding: 64px;
  }
}
