.button {
  background-color: transparent;
  border: none;
  padding: 14px; /* Increase the padding to create more space */
  color: var(--color-white);
  border-radius: 10px;
  background-image: url('@/assets/button-border.png');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 14px;
  align-items: center;
  white-space: nowrap; /* Prevent text from wrapping */
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
