.nft-card-with-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--color-dark-2);
  padding: 44px;
  justify-content: center;
}

.nft-card-with-text.orange {
  background-color: var(--color-orange);
  padding-top: 64px;
}

.nft-card-with-text.green {
  background-color: var(--color-green);
}

.nft-card-with-text .nft-card {
  width: 170px;
  height: 240px;
}

.nft-card-with-text .nft-card_details {
  gap: 1px;
  padding: 10px;
  font-size: 14px;
}

.nft-card-with-text .nft-card_details-series {
  font-size: 8px;
}

.nft-card-with-text.green .nft-card-with-text_description {
  color: var(--color-dark-4);
}

.nft-card-with-text_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.nft-card-with-text_title {
  justify-content: center;
  display: flex;
}
.nft-card-with-text_description {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 18px;
}

.nft-card-with-text_text-check-it-out {
  font-weight: 500;
}

@media (min-width: 576px) {
  .nft-card-with-text {
    flex-direction: row;
    gap: 48px;
    padding: 64px 48px;
    border-radius: 16px;
  }
  .nft-card-with-text_text {
    max-width: 500px;
    gap: 32px;
  }
  .nft-card-with-text.image-on-right .nft-card-with-text_text {
    order: 1;
  }

  .nft-card-with-text.image-on-right .nft-card {
    order: 2;
  }
  .nft-card-with-text_description {
    font-size: 17px;
  }
}
