.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 64px 44px;
}

.hero_left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 600px;
}

.hero_left-launching {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-pink);
  letter-spacing: 1px;
}

.hero_left-heading {
  color: var(--color-white);
}

.hero .button {
  align-self: baseline;
  border-radius: 100px;
  margin-top: 8px;
  width: 106px;
}

.hero_right-image-wrapper {
  position: relative;
}

.hero_right-image-shadow {
  position: absolute;
  box-shadow: 0 0 100px 88px var(--color-pink);
  left: 72px;
  top: 100px;
  z-index: -1;
}

.hero_right-image {
  position: relative;
  width: 150px;
  top: -20px;
}

.hero_left-description {
  letter-spacing: 1px;
}

.p {
  font-size: 20px;
}
@media (min-width: 576px) {
  .hero_right-image {
    width: 300px;
  }
  .hero .button {
    font-size: 20px;
    background-size: 100%;
    width: 188px;
    height: 75px;
    border-radius: 100px;
  }
  .hero_right-image-shadow {
    box-shadow: 0 0 120px 99px var(--color-pink);
    top: 220px;
    left: 140px;
  }
  .hero_left-description {
    font-size: 20px;
  }
  .hero_left-heading {
    font-size: 96px;
  }
}
