.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  position: fixed;
  background-color: var(--color-dark-2);
  width: calc(100% - 88px);
  z-index: 10;
  padding: 0px 44px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 996px;
}

.header_logo {
  width: 160px;
}

.header_sign {
  color: var(--color-pink);
}

.header_sign:hover {
  color: white;
  opacity: 75%;
  cursor: pointer;
}

@media (min-width: 576px) {
  .header {
    width: calc(100% - 16px);
  }
}
