.sponsor-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sponsor-item_logo {
  max-width: 40px;
  max-height: 40px;
}

.App {
  width: 100%;
  max-width: 996px;
}

.page-container {
  padding: 8px;
}
