.sponsor-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sponsor-item_logo {
  max-width: 40px;
  max-height: 40px;
}

.App {
  width: 100%;
  max-width: 996px;
}

.page-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .page-container {
    padding: 8px;
    gap: 64px;
  }

  .App_logo-with-text {
    display: flex;
    gap: 24px;
  }
}
