:root {
  --color-dark-1: #000000;
  --color-dark-2: #111111;
  --color-dark-3: #777777;
  --color-light-3: #cccccc;
  --color-pink: #ff3998;
  --color-white: #ffffff;
  --color-orange: #ff8139;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, 'Courier New', Courier, monospace;
  background-color: var(--color-dark-2);
  color: var(--color-light-3);
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 48px;
}
